<%= render_navbar {} %>
<div class="login">
  <h2>Reset password</h2>
  
  <%= form_for(:password_reset, url: password_resets_path) do |f| %>
    <div class="input-field">
      <%= f.email_field :email, placeholder: 'E-Mail' %>
    </div>
    <br style="clear: both;" />
    <div class="submit">
      <%= submit_tag "Send password reset link" %> or <a href="/">go back to your blog.</a>
    </div>
  <% end %>
</div>