<%= render article_collection, article: article_collection, article_counter: article_collection_counter %>

<% if (article_collection_counter % 2) != 0 %>
  <div class="breaker" style="clear:both;height:1px;line-height:1px">&nbsp;</div>
<% end %>