<div class="rss">
    <%= link_to image_tag("ic_rss.png"), articles_url(format: "atom") %>
</div>

<div id="articles">
  <%= render partial: 'article_small', locals: { article_small: @first_article, article_class: 'first', article_counter: -1 } unless @first_article.nil? %>
  <%= render partial: 'article_collection', collection: @articles %>
</div>

<% if @articles.total_pages > 1 %>
<hr>
<div id="pagination">
  <%= paginate @articles, outer_window: 1, window: 2, theme: 'lines' %>
</div>
<% end %>