<div class="image-preview" id="<%= dom_id @picture %>" style="background-image: url(<%= @picture.image_url(:preview) %>)" data-url="<%= @picture.image_url %>">
  <%#= image_tag @picture.image_url(:preview), data: { :url => @picture.image_url } %>
  <%= button_to admin_picture_path(@picture), remote: true, confirm: "Are you sure?", method: :delete, class: 'icon-delete' do %>

  <% end %>
</div>