<div class="cheatsheet">
  <div class="cheatsheet-close icon-close"></div>
  <div class="cheatsheet-inner">
    <h2>Markdown Cheat Sheet</h2>

    <p>
      <strong><span class="formatting">#</span> Headline 1</strong><br />
      <strong><span class="formatting">##</span> Headline 2</strong><br />
      <strong><span class="formatting">###</span> Headline 3</strong>
    </p>

    <p>
      <span class="formatting">*</span><em>italic</em><span class="formatting">*</span><br />
      <span class="formatting">**</span><strong>bold</strong><span class="formatting">**</span><br />
      <span class="formatting">~~</span><s>strike through</s><span class="formatting">~~</span>
    </p>

    <p>
      <a href="http://url.com">link text</a><br />
      <span class="formatting">[</span>link text<span class="formatting">](</span>http://www.url.com<span class="formatting">)</span>
    </p>

    <p>
      <span class="formatting">></span> Quote text<br />
      <span class="formatting">***</span>Johnny Author<span class="formatting">***</span>
    </p>

    <p>
      <span class="formatting">![</span>image alt text<span class="formatting">](</span>image url<span class="formatting">)</span><br />
      <span class="formatting">***</span>Image caption, description<span class="formatting">***</span>
    </p>

    <p>
      Horizontal rule<br />
      <span class="formatting">---</span>
    </p>

    <p>
      Code<br />
      <span class="formatting">`</span>inline code<span class="formatting">`</span>
    </p>

    <p>
      Code block with syntax highlighting<br />
      <span class="formatting">``` codelanguage</span><br />
      code line 1<br />
      code line 2<br />
      <span class="formatting">```</span>
    </p>

    <p>
      Bulleted list<br />
      <span class="formatting">+</span> item 1<br />
      <span class="formatting">*</span> item 2<br />
      <span class="formatting">-</span> item 3
    </p>

    <p>
      Numbered list<br />
      <span class="formatting">1.</span> item 1<br />
      <span class="formatting">2.</span> item 2<br />
      <span class="formatting">3.</span> item 3
    </p>
  </div>
  <div class="cheatsheet-overlay"></div>
</div>