<div class="cheatsheet">
  <div class="cheatsheet-close icon-close"></div>
  <div class="cheatsheet-inner">
    <h2>Markdown Cheat Sheet</h2>

    <p>
      <strong>Headlines</strong><br />
      <span class="formatting">#</span> Headline 1<br />
      <span class="formatting">##</span> Headline 2<br />
      <span class="formatting">###</span> Headline 3
    </p>

    <p>
      <strong>Styling</strong><br />
      <span class="formatting">*</span><em>italic</em><span class="formatting">*</span><br />
      <span class="formatting">**</span><strong>bold</strong><span class="formatting">**</span><br />
      <span class="formatting">~~</span><s>strike through</s><span class="formatting">~~</span>
    </p>

    <p>
      <strong>Links</strong><br />
      <a href="http://url.com">http://url.com</a><br />
      <span class="formatting">[</span>link text<span class="formatting">](</span>http://www.url.com<span class="formatting">)</span>
    </p>

    <p>
      <strong>Quotes</strong><br />
      <span class="formatting">></span> Quote text<br />
      <span class="formatting">***</span>Johnny Author<span class="formatting">***</span>
    </p>

    <p>
      <strong>Images</strong><br />
      <span class="formatting">![</span>image alt text<span class="formatting">](</span>image url<span class="formatting">)</span><br />
      <span class="formatting">***</span>Image caption, description<span class="formatting">***</span>
    </p>

    <p>
      <strong>Horizontal rule</strong><br />
      <span class="formatting">---</span>
    </p>

    <p>
      <strong>Inline Code</strong><br />
      <span class="formatting">`</span>var name = "John Doe";<span class="formatting">`</span>
    </p>

    <p>
      <strong>Code block with syntax highlighting</strong><br />
      <span class="formatting">``` codelanguage</span><br />
      function foo() {<br />
      &nbsp;&nbsp;return bar;<br />
      }<br />
      <span class="formatting">```</span>
    </p>

    <p>
      <strong>Bulleted list</strong><br />
      <span class="formatting">-</span> item 1<br />
      <span class="formatting">-</span> item 2<br />
      <span class="formatting">-</span> item 3
    </p>

    <p>
      <strong>Numbered list</strong><br />
      <span class="formatting">1.</span> item 1<br />
      <span class="formatting">2.</span> item 2<br />
      <span class="formatting">3.</span> item 3
    </p>
  </div>
  <div class="cheatsheet-overlay"></div>
</div>