@import 'lines/fonts';
@import 'lines/variables_and_mixins';
@import 'lines/navbar';

@import "../../jquery-ui/core.css";
@import "../../jquery-ui/datepicker.css";
@import "../../jquery-ui/theme.css";

/*
 * Reset
 */
* {
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
}
*:before, *:after {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

/*
 * Defaults
 */
body {
  font-size: $size-alpha;
  font-family: $font-alpha;
  color: $color-alpha;
}

a {
  text-decoration: none;
}

h2 {
  font-size: $size-beta;
  color: $color-gamma;
  text-transform: uppercase;
  font-weight: 800;
  margin-bottom: 1em;
}

input, textarea {
  font-size: $size-beta;
  font-family: $font-alpha;
  resize: none;
}

/*
 * Alerts
 */
.alert {
  background-color: rgba(#0a0, .5);
  border: 1px solid #0a0;
  padding: 20px;
  color: #fff;
  margin-bottom: 20px;
  position: relative;
  .close {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    display: block;
  }
}

/*
 * Content
 */
.content {
  width: 100%;
  max-width: 1000px;
  padding: 0 20px;
  margin: 0 auto;
}

.articles-list {
  margin-bottom: 2em;
}

.article, .author {
  border-bottom: 1px solid $color-gamma;
  padding-bottom: 1em;
  &+.article, &+.author {
    margin-top: 1em;
  }
  &.unpublished {
    .title {
      a {
        color: $color-alpha;
      }
    }
  }
  &.published {
    .title {
      a {
        color: $color-gamma;
      }
    }
  }
  .title, .name {
    font-size: $size-gamma;
    a {
      color: $color-alpha;
    }
  }
  .subtitle, .email {
    margin-bottom: 0.5em;
    a {
      color: $color-gamma;
    }
  }
  .actions {
    font-size: $size-beta;
    a {
      color: $color-gamma;
      text-transform: uppercase;
    }
    .btn-edit {
      color: $color-beta;
    }
    .btn-unfeature {
      color: $color-beta;
    }
    .btn-publish {
      color: $color-beta;
    }
    .btn-unpublish {
      color: $color-alpha;
    }
    .left {
      float: left;
    }
    .right {
      float: right;
      a + a {
        margin-left: 0.5em;
      }
    }
    &:after {
      @include clearfix();
    }
  }
}

/*
 * Forms
 */
form {
  input[type="text"], input[type="password"], textarea {
    width: 100%;
    border-bottom: 1px solid $color-gamma;
    padding: 0.5em;
    overflow: hidden;
    &:focus {
      border-bottom-color: $color-beta;
    }
  }
  input[type="checkbox"] {
    display: none;
    &+label {
      position: relative;
      display: block;
      width: 100%;
      max-width: 400px;
      font-size: $size-beta;
      margin-bottom: 1em;
      cursor: pointer;
      &:after {
        content: "\e602"; // Blank checkbox
        font-family: 'iconfont';
        position: absolute;
        color: $color-gamma;
        right: 0;
        top: 50%;
        font-size: 1.5em;
        transform: translateY(-50%);
      }
    }
    &:checked {
      &+label {
        &:after {
          content: "\e601"; // Filled checkbox
          color: $color-beta;
        }
      }
    }
  }
  .hero-upload {
    margin-bottom: 1em;
    background-color: $color-gamma;
    color: #fff;
    position: relative;
    min-height: 7em;
    &:before {
      content: "No image";
      position: absolute;
      z-index: 0;
      left: 2em;
      bottom: 2em;
      line-height: 1;
      padding: 1em;
    }
    input {
      display: none;
    }
    .btn-change-hero {
      background-color: $color-delta;
      text-transform: uppercase;
      padding: 1em;
      position: absolute;
      right: 2em;
      bottom: 2em;
      border-radius: 4px;
      line-height: 1;
      cursor: pointer;
      z-index: 2;
      transition: background 0.3s ease;
      &:hover {
        background-color: lighten($color-delta, 10%);
      }
    }
    > img {
      display: block;
      width: 100%;
      position: relative;
      z-index: 1;
    }
    .upload-overlay {
      position: fixed;
      display: none;
      max-width: calc(960px - 4em);
      width: calc(100% - 4em);
      z-index: 50;
      margin: 0 auto;
      top: calc(56px + 2em);
      left: 0;
      right: 0;
      bottom: 2em;
      .upload-overlay-inner {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow-y: scroll;
        background-color: #fff;
        z-index: 1;
        padding: 2em;
        .btn-remove-hero {
          background-color: $color-gamma;
          padding: 0.5em 1em;
          margin-bottom: 1em;
          cursor: pointer;
          display: none;
          transition: all 0.3s ease;
          &.show {
            display: block;
          }
          &:hover {
            background-color: lighten($color-gamma, 10%);
          }
        }
        label {
          background-color: $color-beta;
          padding: 0.5em 1em;
          display: block;
          margin-bottom: 1em;
          cursor: pointer;
          transition: all 0.3s ease;
          &:hover {
            background-color: lighten($color-beta, 10%);
          }
        }
        .hero-images {
          img {
            width: calc(50% - 0.5em);
            display: block;
            float: left;
            &:nth-of-type(odd) {
              margin-right: 0.5em;
            }
            &:nth-of-type(even) {
              margin-left: 0.5em;
            }
            &:nth-of-type(n+3) {
              margin-top: 1em;
            }
          }
        }
      }
      .hero-background-overlay {
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba($color-alpha, 0.8);
        z-index: 0;
      }
    }
  }
  .input-field {
    position: relative;
    margin-bottom: 1em;
    &:after {
      @include clearfix();
    }
  }
  .submit {
    input[type="submit"] {
      background-color: $color-beta;
      color: #fff;
      padding: 10px;
      border-radius: 3px;
      cursor: pointer;
    }
  }
}

.images-overlay {
  position: fixed;
  display: none;
  max-width: calc(960px - 4em);
  width: calc(100% - 4em);
  z-index: 50;
  margin: 0 auto;
  top: calc(56px + 2em);
  left: 2em;
  right: 2em;
  bottom: 2em;
  .images-overlay-inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    background-color: #fff;
    z-index: 1;
    padding: 2em;
    form {
      input {
        display: none;
      }
      label {
        background-color: $color-beta;
        padding: 0.5em 1em;
        display: block;
        margin-bottom: 1em;
        cursor: pointer;
        color: #fff;
        transition: all 0.3s ease;
        &:hover {
          background-color: lighten($color-beta, 10%);
        }
      }
    }

    .images {
      .image-preview {
        position: relative;
        width: calc(50% - 0.5em);
        height: 0;
        padding-bottom: calc((50% - 0.5em) / 16 * 9);
        background-position: center;
        background-size: cover;
        cursor: pointer;
        float: left;
        &:nth-of-type(odd) {
          margin-right: 0.5em;
        }
        &:nth-of-type(even) {
          margin-left: 0.5em;
        }
        &:nth-of-type(n+3) {
          margin-top: 1em;
        }
      }
    }

    .upload {
      width: 100%;
      height: 20px;
      position: relative;
      margin-bottom: 1em;
      .progress {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: #eee;
        .bar {
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          background-color: $color-beta;
          z-index: 0;
        }
        .percent {
          position: absolute;
          z-index: 1;
          color: #000;
          width: 100%;
          height: 100%;
          line-height: 20px;
          text-align: center;
        }
      }
    }
  }
  .images-background-overlay {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($color-alpha, 0.8);
    z-index: 0;
  }
}

.cm-movingwidget {
  position: absolute;
  top: 0px;
  right: 0;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  color: #fff;
  background-color: $color-delta;
  cursor: pointer;
  z-index: 40;
  transform: translateX(calc(100% + 10px)) translateY(calc(-50% + 10px));
  transition: all 0.3s ease;
  border-radius: 3px;
  font-size: 1.5em;
  &:after {
    content: "";
    position: absolute;
    left: -10px;
    top: 50%;
    transform: translateY(-50%);
    border-right: 10px solid $color-delta;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    transition: all 0.3s ease;
  }
  &:hover {
    background-color: $color-beta;
    &:after {
      border-right-color: $color-beta;
    }
  }
}
@media screen and (max-width: 1100px) {
  .cm-movingwidget {
    // display: none !important;
    transform: translateX(0) translateY(calc(-50% + 10px));
  }
  .cm-s-lines.CodeMirror {
    width: calc(100% - 60px);
  }
}

#error_explanation {
  background-color: rgba(#f00, 0.2);
  border: 1px solid #f00;
  padding: 1em;
  position: relative;
  margin-bottom: 1em;
  h2 {
    color: #f00;
  }
  .close {
    position: absolute;
    top: 0;
    right: 0;
    color: #000;
    width: 2em;
    height: 2em;
    line-height: 2;
    text-align: center;
  }
  ul {
    padding-left: 1em;
  }
}