/*
 * Mixins
 */
@mixin clearfix() {
  content: "";
  clear: both;
  display: table;
}

/*
 * Imports
 */
@import url(//fonts.googleapis.com/css?family=Merriweather+Sans:400,800);
@import url(/fira-mono/fira-mono.css); /* 300, 400, 600 */
@import url(/iconfont/iconfont.css);

/*
 * Variables
 */
$font-alpha: 'Merriweather Sans', sans-serif;
$font-beta: 'Fira Mono', monospace;

$color-alpha: #100719; // blue/black
$color-beta: #c10020; // red
$color-gamma: #9793a0; // grey
$color-delta: #403947; // dark grey

$size-alpha: 1rem; // 16px
$size-beta: 1.063rem; // 17px
$size-gamma: 1.5rem; // 22em

$gutter-alpha: 6px;
$gutter-beta: 22px;
$gutter-gamma: 80px;

$height-alpha: 56px; // Navbar size