footer, #footer {
  margin-top: 2em;
  background-color: $black;
  color: $white;
  font-family: $SourceSansPro;
  line-height: 120%;
  .container {
    margin: 1.5em auto;
    max-width: $max-width;
    p {
      padding: 0 13%;
    }
  }
}
