@import 'variables_and_mixins';

footer, #footer {
  margin-top: 2em;
  background-color: $black;
  color: $white;
  font-family: $SourceSansPro;
  line-height: 120%;
  .container {
    margin: 1.5em auto;
    max-width: $max-width;
    p {
      padding: 0.4em 13%;
      a { color: $white; font-weight: 600; }
      a:hover { color: lighten($red, 10%); text-decoration: underline;  }
    }
  }
}
