@import 'variables_and_mixins';

* {
  margin: 0; padding: 0; 
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body { font-size: 16px }

body {
  height: 100%; background-color: #fff;
  &.no-scroll {
    overflow: hidden;
  }
}

img, div { border: 0; display: block; }

div, header, footer { display: block; overflow: hidden; }

img {
  max-width: 100%;
  height: auto;
  width: auto\9; /* ie8 */
}

a {
  text-decoration: none;
  color: $darkgrey;
  @include addTransition(0.3);
  &:hover { color: $orange; }
}

i, em { font-style: italic; }
strong, b { font-weight: bold; }

ul li { list-style-position: outside; }

hr { display: block; margin: $gutter-gamma auto !important; height: 2px; background-color: $grey; border:none; width: 50%;}

input, textarea, input[type="submit"] {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
}

.float-right { float:right; margin: 15px 0 5px 10px; }
.clearfix {
    zoom:1; /* For IE 6/7 (trigger hasLayout) */
    &:before, &:after { content: ""; display: table; }
    &:after { clear: both; }
}

div.rss { display:none; }

/*--------------------------------------------------------*/
/*------------------------  HEADER  ----------------------*/
/*--------------------------------------------------------*/

#topbar {
  color: #fff;
  font-size: 12px;
  padding: 2px 0;
  background-color: #000;
  div { max-width: $max-width; margin: 0 auto; }
  .right { float: right; }
  a { color: #aaa; }
}

header {
  margin: 0 auto;
  max-width: $max-width;
  padding: 1.1em 0;
  font-family: $SourceSansPro;
  font-weight: 500;
  font-size: 1.250em;
  a {
    color: #000;
    &:hover { color: $orange; }
  }
  #logo { float: left; text-transform: uppercase; font-weight: 600; }
  #lines { float: right; }
}

.container {
  position: relative;
  max-width: $max-width;
  margin: 0 auto;
}
