/************************************************************************************
smaller than 975px
*************************************************************************************/
@media screen and (max-width: 990px) {
  header {
    padding-left: 1.5em;
    padding-right: 1.5em;
  }
}

/************************************************************************************
smaller than 800px
*************************************************************************************/
@media screen and (max-width: 800px) {
  html, body { font-size: 16px; }
  .article {
    .article_header, .article_teaser, .article_content {
      & > * { padding: 0 8%; }
    }
  }
}

/************************************************************************************
smaller than 600px
*************************************************************************************/
@media screen and (max-width: 600px) {
  html, body { font-size: 14px; }
  .article.small { width: 100%; max-width: 100%; }
}

/************************************************************************************
smaller than 480px
*************************************************************************************/
@media screen and (max-width: 480px) {
html, body { font-size: 14px; }
  .article {
    .article_header h1 {
      font-size: 2.5em;
    }
  }
}
