/************************************************************************************
smaller than 975px
*************************************************************************************/
@media screen and (max-width: 975px) {
}

/************************************************************************************
smaller than 800px
*************************************************************************************/
@media screen and (max-width: 800px) {
  html, body { font-size: 16px; }
  .article {
	  .article_header, .article_teaser, .article_content {
	    & > * { padding: 0 8%; }
	  }  	
  }
}

/************************************************************************************
smaller than 600px
*************************************************************************************/
@media screen and (max-width: 600px) {
  html, body { font-size: 12px; }
  .article.small { width: 100%; max-width: 100%; }
}

/************************************************************************************
smaller than 480px
*************************************************************************************/
@media screen and (max-width: 480px) {
  html, body { font-size: 10px; }
}
