/************************************************************************************
smaller than 975px
*************************************************************************************/
@media screen and (max-width: 975px) {
}

/************************************************************************************
smaller than 800px
*************************************************************************************/
@media screen and (max-width: 800px) {
  html { font-size: 14px; }
}

/************************************************************************************
smaller than 600px
*************************************************************************************/
@media screen and (max-width: 600px) {
  html { font-size: 12px; }
  .article.small { width: 100%; max-width: 100%; }
}

/************************************************************************************
smaller than 480px
*************************************************************************************/
@media screen and (max-width: 480px) {
}
