$max-width: 960px;

$darkgrey: #333;
$lightgrey: #666;
$orange: #e8581e;

@mixin addTransition($x) {
  transition: all $x+s ease;
  -o-transition: all $x+s ease;
  -ms-transition: all $x+s ease;
  -moz-transition: all $x+s ease;
  -webkit-transition: all $x+s ease;
}

/*-----------------------------------------------------------*/
/*-----------------------  1. GENERAL  ----------------------*/
/*-----------------------------------------------------------*/

* { 
  margin: 0; padding: 0; 
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  height: 100%;
  background-color: #fff;
}

img, div { border: 0; display: block; }

div, header, footer { display: block; overflow: hidden; }

img {
  max-width: 100%;
  height: auto;
  width: auto\9; /* ie8 */
}

a {
  text-decoration: none;
  color: $darkgrey;
  @include addTransition(0.3);
  &:hover { color: $orange; }
}

i, em, strong, b { font-weight: normal; font-style: normal; }
i, em { font-family: 'UbuntuItalic'; }
strong, b { font-family: 'UbuntuBold'; }

ul li { list-style-position: inside; }

hr { display: block; margin: 30px 0px; height: 1px; background-color: #3d3d3d; border:none; }

.float-right { float:right; margin: 15px 0 5px 10px; }
.clearfix {
    zoom:1; /* For IE 6/7 (trigger hasLayout) */
    &:before, &:after { content: ""; display: table; }
    &:after { clear: both; }
}


/*-----------------------------------------------------------*/
/*------------------------  2. HEADER  ----------------------*/
/*-----------------------------------------------------------*/

#topbar {
  color: #fff;
  font-size: 12px;
  padding: 2px 0;
  background-color: #000;
  div { max-width: $max-width; margin: 0 auto; }
  .right { float: right; }
  a { color: #aaa; }
}

header {
  margin: 0 auto;
  max-width: $max-width;
  padding: 20px;
  font-family: 'Museo';
  font-size: 1.188em;
  border-bottom: 1px solid #e3e3e3;
  a {
    color: #000;
    &:hover { color: $orange; }
  }
  #logo { float: left; }
  #lines {
    float: right;
    font-size: 0.737em;
    text-transform: uppercase;
  }
}



/*-----------------------------------------------------------*/
/*-----------------------------------------------------------*/
/*-----------------------  3. CONTENT  ----------------------*/
/*-----------------------------------------------------------*/
/*-----------------------------------------------------------*/

.container {
  position: relative;
  max-width: $max-width;
  margin: 0 auto;
}

.article {
  max-width: $max-width;
  padding: 10px 0 25px 0;
  font-family: 'Ubuntu';
  line-height: 1.5em;
  font-size: 1.125em;
  color: #555;


  .hero_image {
    margin-top: 1.2em;
  }

  .article_header {
    text-align: center;
    padding: 0 15px;
    h1  {
      font-family: 'Museo';
      font-weight: normal;
      font-size: 2.4em;
      line-height: 1.01em;
      letter-spacing: -0.03em;
      color: $orange;
      margin: 30px 0 10px 0;
      a { color: $orange; }
      a:hover { color:$darkgrey; }        
    }
    h2 {
      font-size: 1.333em;
      color: #b4b4b4;
      line-height: 1.1em;
      letter-spacing: 0.05em;
      margin: 0 0 25px 0;
    }
    .author_name {
      font-size: 0.8em;
      text-transform: uppercase;
    }
  }

  .article_teaser {
    padding: 0 10%;
    margin: 30px auto;
    .more-link { display: none; }
    p { font-family: 'UbuntuBold'; }
  } 

  .article_content {
    line-height: 1.8em;
    padding: 0 10%;
    h1, h2, h3, h4, h5 { font-weight: normal; }

    h1 {
      font-family: 'Museo';
      font-size: 1.3em;
      color: $darkgrey;
      text-transform: uppercase;
      margin: 50px 0 10px 0;
      letter-spacing: 0.05em;
    }

    h2 {
      font-size: 1.333em;
      margin: 40px 0 5px 0;
      letter-spacing: 0.13em;
      color: #b4b4b4;
      text-transform: uppercase;
    }

    h3 {
      font-size: 1.111em;
      font-family: 'UbuntuBold';
      margin: 30px 0 0 0;
    }

    h4 {
      font-size: 1em;
      letter-spacing: 0.04em;
      margin: 30px 0 5px 0;
      text-transform: uppercase;
    }

    h5 {
      font-size: 1em;
      font-family: 'UbuntuBold';
      margin: 20px 0 0 0;
    }

    p {
      margin: 0 0 20px 0;
      display: block;
    }
  
    a { border-bottom: 1px solid #ccc; padding: 0 0 1px 0; }

    img { display: block; margin: 0 auto; }
    
    ul, ol { margin-bottom: 20px; }
    ul {
      margin-left: 10px;
      li { margin: 0 0 5px 0; }
    }

    blockquote {
      font-family: 'BPmono';
      font-size:18px;
      color:#999;
      padding-left:30px;
      line-height: 28px;
      letter-spacing: -0.02em;
      em { font-family: 'BPmonoItalic'; letter-spacing: -0.02em; }
      strong { font-family: 'BPmonoBold'; }
    }

    pre {
      font-size: 1.0em;
      line-height: 1.5em;
      margin-bottom: 15px;
    }

    .highlight pre { margin: 0 0 30px 20px; padding: 10px; }
  }

  .article_footer {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    text-align: center;
    color: #808080;
    font-size: 0.8em;
    padding: 1.1em;
    a { color: $orange; }
    a:hover { color: $darkgrey; }
  }

  .article_googleplus {
    border-top: 1px solid #ccc;
    padding: 1.1em;
    font-size: 1.5em;
    min-height: 40px;
    line-height: 40px;
    text-align: center;
    a {
      margin: 0 auto;
      display: inline-block;
      color: $lightgrey;
      &:hover { color: $darkgrey; }
    }
    span {
      background: url('/assets/ic_googleplus.png') 0px 0px no-repeat;
      height: 40px;
      width: 40px;
      line-height: 40px;
      display: inline-block;
      float: left;
      margin: 0 15px 0 0;
    }
  }


  &.small {
    margin: 0 0 70px 0;
    max-width: 50%;
    float: left;
    .article_header {
      h1 { font-size: 1.8em; }
      h2 { display: none; }
    }
    .article_teaser {
      p { font-family: 'Ubuntu'; }
      .more-link {
        display: block;
        margin:40px auto 0 auto;
        text-align: center;
        a {
          display: inline-block;
          text-transform: uppercase;
          letter-spacing: 0.06em;
          font-size:0.8em;
          background-color: #f4f4f4;
          padding:5px 10px;
          color: #4d4d4d;
          display:block;
          width:100%;
          text-align:center;
          &:hover { background-color: #e7e7e7; }
        }
      }      
    }
    .article_googleplus, .article_footer, .article_content { display:none; }
  }

}



#pagination {
  display: block;
  overflow: visible;
  border-top: 1px solid #ccc;
  margin: 0px auto;
  width: 100%;
  text-transform: uppercase;
  font-size: 1.500em;
  padding: 30px 0 0 0;
  text-align: center;
  position: relative;
  a {
    color: $lightgrey;
    &:hover { color: $darkgrey; }
  }
  .newer, .older { position: absolute; display: inline-block; }
  .newer { left: 0px; }
  .older { right: 0px; }
  .prev, .first {
    float: left;
    background: url('/assets/arrow_left.png') top left no-repeat;
    padding: 0 10px 0 50px;
  }
  .next, .last {
    float: right;
    background: url('/assets/arrow_right.png') top right no-repeat;
    padding: 0 50px 10px 0px;
  }

  .pages {
    font-size: 0.7em;
    color: lighten($lightgrey,30%);
    a {
      color: lighten($lightgrey,30%);
      &:hover { color: $lightgrey; }
    }
    .current { color: $lightgrey; font-size: 1.50em; }
  }
}


/*-----------------------------------------------------------*/
/*-----------------------------------------------------------*/
/*-----------------------  5. FOOTER - ----------------------*/
/*-----------------------------------------------------------*/
/*-----------------------------------------------------------*/

footer, #footer {
  background-color: #f4f4f4;
  margin: 50px 0 0 0;
  padding: 30px 0;

  .container {
    margin: 0 auto;
    max-width: 960px;
    color: #999;
    font-size: 0.85em;
    font-family: 'UbuntuLight';
    .row {
      text-align: left;
      width: 100%;
      .two-cols {
        padding: 0 20px;
        width: 50%;
        line-height:24px;
        float: left;
        &:first-child {
          margin-right: 0;
        }
      }
    }
  }
  
  hr { background-color:#ccc; margin:40px 0px; }

  h2, h2 a {
    margin-top: 20px;
    text-transform: uppercase;
    font-family: 'MuseoLight';
    font-size: 1.2em;
    font-weight: normal;
    letter-spacing: 0.03em;
  }


  span.label {
    text-transform: uppercase;
    font-size:13px;
    color:#c0bfbf;
  }
  .weekday {
    font-family: 'MuseoLight';
    color: $darkgrey;
  }
  
  #copyright {
    text-align:center;
    padding:50px 0 10px 0;
    font-size:13px;
    text-transform:uppercase;
    letter-spacing: 0.05em;
    line-height:24px;
    a {
      color:#999; font-family: 'Ubuntu';
      &:hover { color: $orange; }
    }
  }
}

div.rss { display:none; }
