/*
 * Mixins
 */
@mixin clearfix() {
  content: "";
  clear: both;
  display: table;
}

/*
 * Imports
 */
@import url(http://fonts.googleapis.com/css?family=Merriweather+Sans:400,800);
@import url(/iconfont/iconfont.css);

/*
 * Variables
 */
$font-alpha: 'Merriweather Sans', sans-serif;

$color-alpha: #100719; // blue/black
$color-beta: #c10020; // red
$color-gamma: #9793a0; // grey

$size-alpha: 1.125rem; // 18px
$size-beta: 1.222rem; // 22px
$size-gamma: 1.444rem; // 26em

$height-aplha: 56px; // Navbar size





// Old stuff (still used)

$max-width: 960px;

$darkgrey: #333;
$lightgrey: #666;
$orange: #ee4422;

$SourceSansPro: 'Source Sans Pro', 'Helvetica', 'Arial', sans-serif;
$MerriweatherSans: 'Merriweather Sans', 'Helvetica', 'Arial', sans-serif;
$Merriweather: 'Merriweather', 'Georgia', serif;

@mixin addTransition($x) {
  transition: all $x+s ease;
  -o-transition: all $x+s ease;
  -ms-transition: all $x+s ease;
  -moz-transition: all $x+s ease;
  -webkit-transition: all $x+s ease;
}