<% if @author.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@author.errors.count, "error") %> prohibited this author from being saved:</h2>

    <ul>
    <% @author.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
    <a href="#" class="close">x</a>
  </div>
<% end %>

<div class="row">
  <div class="span8">
    <div class="form-box">
      <%= render 'form' %>
    </div>
  </div>
</div>
