/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require jquery.ui.all
 *= require navbar
 */

@import url(http://fonts.googleapis.com/css?family=Ubuntu+Mono|Cabin|Roboto|Roboto+Condensed);

$darkgrey: #333;
$lightgrey: #666;
$orange: #e8581e;

@mixin border-box() {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

@mixin addTransition($x) {
  transition: all $x+s ease;
  -o-transition: all $x+s ease;
  -ms-transition: all $x+s ease;
  -moz-transition: all $x+s ease;
  -webkit-transition: all $x+s ease;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  &:active, &:focus {
    outline: 0;
  }
}

body {
  background-color: #fbfbfb;
  color: $darkgrey;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

a {
  text-decoration: none;
}

a.btn, input[type=submit].btn {
  @include addTransition(0.3);
}

h1 {
  font-family: 'Cabin', sans-serif;
  font-size: 60px;
  color: #919191;
  letter-spacing: 0.03em;
  margin: 50px 0px;
  font-weight: normal;
}

h2 {
  font-family: 'Cabin', sans-serif;
  font-size: 20px;
  color: #919191;
  letter-spacing: 0.03em;
  margin: 20px 0px;
  text-transform: uppercase;
  font-weight: normal;
}

hr {
  border-bottom: 1px solid $lightgrey;
}

.clear {
  clear: both;
}


#main {
  .container {
    width: 960px;
    margin: 0 auto;
    padding: 0px 15px;
    .btn {
      font-family: 'Cabin', sans-serif;
      font-size: 16px;
      color: #ffffff;
      padding: 10px 15px;
      letter-spacing: 0.03em;
      cursor: pointer;
      &.btn-new-article, &.btn-new-author {
        background-color: $orange;
        &:hover {
          background-color: lighten($orange, 15%);
        }
      }
      &.btn-authors, &.btn-view-blog {
        background-color: #434343;
      }
      &.btn-publish {
        background-color: $orange;
        color: #d6d6d6;
        &:hover {
          background-color: lighten($orange, 15%);
        }
      }
    }
    .headline {
      h1 {
        float: left;
      }
    }
    .articles-list {
      margin-bottom: 60px;
      .article {
        border-bottom: 1px solid #cdcdcd;
        width: 100%;
        line-height: 53px;
        &.published {
          .title a, .title:hover a, .subtitle, .date {
            color: #9f9f9f;
          }
        }
        .preview {
          width: 51px;
          background: #f2f2f2 url('/assets/article-icons.png') no-repeat scroll 10px 18px;
          cursor: pointer;
          &:hover {
            background: #f2f2f2 url('/assets/article-icons.png') no-repeat scroll -40px 18px;
          }
          a {
            display: block;
            height: 53px;
            width: 51px;
          }
        }
        .edit {
          width: 51px;
          background: #f2f2f2 url('/assets/article-icons.png') no-repeat scroll 15px -34px;
          cursor: pointer;
          &:hover {
            background: #f2f2f2 url('/assets/article-icons.png') no-repeat scroll -35px -34px;
          }
          a {
            display: block;
            height: 53px;
            width: 51px;
          }
        }
        .title {
          font-family: 'Roboto Condensed', sans-serif;
          font-size: 19px;
          letter-spacing: 0.03em;
          width: 285px;
          padding: 0px 20px;
          overflow: hidden;
          white-space: nowrap;
          a {
            color: $orange;
            display: inline-block;
            width: 100%;
          }
          &:hover {
            a {
              color: $darkgrey;
            }
          }
        }
        .subtitle {
          font-family: 'Cabin', sans-serif;
          font-size: 16px;
          width: 285px;
          padding: 0px 20px;
          overflow:hidden;
          white-space: nowrap;
          a {
            color: $darkgrey;
            display: inline-block;
            width: 100%;
          }
        }
        .featured {
          width: 35px;
          input[type=submit] {
            background: transparent url('/assets/article-icons.png') no-repeat scroll -94px -135px;
            cursor: pointer;
            display: block;
            height: 53px;
            width: 35px;
            &:hover {
              background: transparent url('/assets/article-icons.png') no-repeat scroll -44px -135px;
            }
          }
          &.not input[type=submit] {
            background: transparent url('/assets/article-icons.png') no-repeat scroll 6px -135px;
            &:hover {
              background: transparent url('/assets/article-icons.png') no-repeat scroll -44px -135px;
            }
          }
        }
        .date {
          font-family: 'Cabin', sans-serif;
          color: #b4b4b4;
          font-size: 18px;
          width: 120px;
          text-align: center;
        }
        .delete {
          width: 35px;
          input[type=submit] {
            background: transparent url('/assets/article-icons.png') no-repeat scroll 8px -85px;
            cursor: pointer;
            display: block;
            height: 53px;
            width: 35px;
            &:hover {
              background: transparent url('/assets/article-icons.png') no-repeat scroll -42px -85px;
            }
          }
        }
      }
    }
    .authors-list {
      margin-bottom: 60px;
      .author {
        border-bottom: 1px solid #cdcdcd;
        width: 100%;
        line-height: 53px;
        .show {
          width: 51px;
          background: #f2f2f2 url('/assets/article-icons.png') no-repeat scroll 10px 18px;
          cursor: pointer;
          &:hover {
            background: #f2f2f2 url('/assets/article-icons.png') no-repeat scroll -40px 18px;
          }
          a {
            display: block;
            height: 53px;
            width: 51px;
          }
        }
        .edit {
          width: 51px;
          background: #f2f2f2 url('/assets/article-icons.png') no-repeat scroll 15px -34px;
          cursor: pointer;
          &:hover {
            background: #f2f2f2 url('/assets/article-icons.png') no-repeat scroll -35px -34px;
          }
          a {
            display: block;
            height: 53px;
            width: 51px;
          }
        }
        .name {
          font-family: 'Roboto Condensed', sans-serif;
          font-size: 19px;
          letter-spacing: 0.03em;
          width: 285px;
          padding: 0px 20px;
          a {
            color: $orange;
            display: inline-block;
            width: 100%;
          }
          &:hover {
            a {
              color: $darkgrey;
            }
          }
        }
        .email {
          font-family: 'Cabin', sans-serif;
          font-size: 16px;
          width: 285px;
          padding: 0px 20px;
          a {
            color: $darkgrey;
            display: inline-block;
            width: 100%;
          }
        }
        .delete {
          width: 35px;
          input[type=submit] {
            background: transparent url('/assets/article-icons.png') no-repeat scroll 8px -85px;
            cursor: pointer;
            display: block;
            height: 53px;
            width: 35px;
            &:hover {
              background: transparent url('/assets/article-icons.png') no-repeat scroll -42px -85px;
            }
          }
        }
      }
    }
  }
}

.new-article, .new-author {
  margin-bottom: 120px;
  hr {
    border-bottom: 1px solid #E2E3E4;
    margin-bottom: 30px;
  }
  .row {
    width: 100%;
    margin-bottom: 30px;
    &:after {
      content: "";
      display: table;
      clear: both;
    }
    .label {
      float: left;
      width: 140px;
      font-family: 'Roboto Condensed', sans-serif;
      font-size: 17px;
      color:#434343;
      h3 {
        padding: 10px 0px;
        font-weight: normal;
        letter-spacing: 0.03em;
        .required {
          color: #f00;
        }
      }
    }
    &.show {
      .input {
        padding-top: 15px;
        font-size: 16px;
      }
    }
    .input {
      float: left;
      width: 540px;
      a {
        color: $orange;
      }
      .hero-image {
        background: #f1f2f2;
        background-size: cover;
        background-position: center center;
        border: 1px solid #e2e3e4;
        height: 298px;
        width: 100%;
        position: relative;
        overflow: hidden;
        cursor: pointer;
        @include border-box();
        .choose-file {
          display: block;
          margin: 0 auto;
          position: relative;
          background-color: rgba(147,147,147,0.5);
          color: #ffffff;
          font-size: 19px;
          width: 210px;
          height: 80px;
          line-height: 80px;
          text-transform: uppercase;
          text-align: center;
          cursor: pointer;
          @include addTransition(0.3);
          margin-top: 110px;
          &:hover {
            background-color: lighten(rgba(147,147,147,0.5), 15%);
          }
        }
        .hidden {
          display: none;
        }
        .hero-image-value {
          position: absolute;
          left: 0;
          right: 0;
          margin-left: auto;
          margin-right: auto;
          width: 210px;
          height: 80px;
          line-height: 80px;
          font-size: 80px;
          overflow: hidden;
          cursor: pointer;
          top: 110px;
          opacity: 0;
        }
        &:hover {
          label {
            background: lighten(rgba(147,147,147,0.5), 20%);
          }
        }
      }
      input[type="text"] {
        background: transparent;
        border-bottom: 1px solid #e2e3e4;
        @include border-box();
        height: 44px;
        width: 100%;
        color: #5e5e5e;
        padding: 0px 10px;
        line-height: 43px;
        font-size: 16px;
        font-family: 'Ubuntu Mono';
        &.article-title, &.article-subtitle {
          font-size: 20px;
        }
      }
      textarea {
        font-family: 'Ubuntu Mono';
        background: transparent;
        border-bottom: 1px solid #e2e3e4;
        @include border-box();
        height: 44px;
        width: 100%;
        color: #5e5e5e;
        padding: 10px;
        font-size: 16px;
        line-height: 22px;
        resize: none;
        min-height: 208px;
      }
      > .checkbox {
        display: inline-block;
        width: 260px;
        margin-top: 25px;
        input[type=checkbox] {
          display: none;
        }
        &.first-row {
          margin-top: 0px;
        }
        .checkbox {
          color: #939393;
        }
        input[type=checkbox] + label span {
          display:inline-block;
          width:15px;
          height:15px;
          background: transparent url('/assets/checkbox-icon.png') no-repeat right top;
          cursor: pointer;
          margin: -2px 10px 0px 0px;
        }
        input[type=checkbox]:checked + label span {
          background: transparent url('/assets/checkbox-icon.png') no-repeat left top;
        }
      }
      .documents {
        position: relative;
        cursor: pointer;
        .choose-files {
          @include addTransition(0.3);
          border: 1px solid #ebebeb;
          background-color: #f2f2f2;
          width: 100%;
          @include border-box();
          height: 43px;
          text-align: center;
          color: $darkgrey;
          cursor: pointer;
          display: block;
          line-height: 43px;
          font-size: 15px;
          text-transform: uppercase;
        }
        .hidden {
          display: none;
        }
        .article-document-value {
          height: 45px;
          width: 100%;
          font-size: 45px;
          line-height: 45px;
          cursor: pointer;
          overflow: hidden;
          position: absolute;
          top: 0px;
          left: 0px;
          opacity: 0;
        }
        &:hover {
          .choose-files {
            background-color: darken(#f2f2f2, 15%);
          }
        }
      }
      &.input-text {
        position: relative;
        &:before {
          width: 1px;
          height: 10px;
          content: "";
          position: absolute;
          bottom: 0px;
          left: 0px;
          background-color: #e2e3e4;
          z-index: 1000;
        }
        &:after {
          width: 1px;
          height: 10px;
          content: "";
          position: absolute;
          bottom: 0px;
          right: 0px;
          background-color: #e2e3e4;
          z-index: 10;
        }
      }
      &.input-textarea {
        position: relative;
        &:before {
          width: 1px;
          height: 10px;
          content: "";
          position: absolute;
          bottom: 4px;
          left: 0px;
          background-color: #e2e3e4;
          z-index: 1000;
        }
        &:after {
          width: 1px;
          height: 10px;
          content: "";
          position: absolute;
          bottom: 4px;
          right: 0px;
          background-color: #e2e3e4;
          z-index: 10;
        }
      }
    }
    .additional {
      width: 260px;
      float: left;
      margin-left: 20px;
      label {
        color: #939393;
        margin-bottom: 5px;
        display: inline-block;
      }
      .btn-formatting-help {
        color: $orange;
        display: inline-block;
        margin-top: 10px;
        text-transform: uppercase;
        @include addTransition(0.3);
        &:hover {
          color: darken($orange, 15%);
        }
      }
      .add-new-author {
        text-transform: uppercase;
        color: $orange;
        @include addTransition(0.3);
        &:hover {
          color: darken($orange, 15%);
        }
      }
      img {
        cursor: pointer;
      }
      .short-hero-images-box {
        h2 {
          margin: 0;
        }
        .short-hero-images {
          height: 275px;
          overflow-y: scroll;
          &::-webkit-scrollbar {
              width: 5px;
              position: absolute;
          }
           
          &::-webkit-scrollbar-track {
              -webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.3); 
              border-radius: 10px;
          }
           
          &::-webkit-scrollbar-thumb {
              border-radius: 10px;
              background-color: rgba(0,0,0,0.3);
          }
          .short-hero-image-box {
            width: 230px;
            height: 130px;
            overflow: hidden;
            display: block;
            margin-bottom: 2px;
            float: left;
            img {
              min-width: 230px;
              min-height: 130px;
            }
          }
        }
        br {
          display: none;
        }
      }
    }
    .btn-save, .btn-cancel {
      background: #434343;
      margin-right: 20px;
      color: #d6d6d6;
      margin-top: 30px;
      text-transform: uppercase;
      &:hover {
        background: lighten(#434343, 15%);
      }
    }
    .btn-save-publish {
      text-transform: uppercase;
      margin-right: 20px;
      margin-top: 30px;
      color: #d6d6d6;
      background: $orange;
      &:hover {
        background: lighten($orange, 15%);
      }
    }
    .hidden {
      display: none;
    }
  }
}

.span12 > .row {
  position: relative;
  .picture-box {
    position: absolute;
    top: 560px;
    right: 0px;
    width: 260px;
    h2 {
      margin-top: 0px;
    }
    .picture-preview, #pictures .picture-preview {
      float: left;
      margin-right: 28px;
      width: 92px;
      overflow: hidden;
      position: relative;
      cursor: pointer;
      .picture {
        width: 92px;
        height: 92px;
        overflow: hidden;
        img {
          min-height: 92px;
          min-width: 92px;
        }
      }
      .insert-image {
        background: transparent url('/assets/article-icons.png') no-repeat scroll 0px -194px;
        width: 15px;
        height: 30px;
        display: inline-block;
        float: left;
        &:hover {
          background: transparent url('/assets/article-icons.png') no-repeat scroll -50px -194px;
        }
      }
      .btn-delete-photo {
        background: transparent url('/assets/article-icons.png') no-repeat scroll 0px -244px;
        width: 12px;
        height: 30px;
        display: inline-block;
        float: right;
        cursor: pointer;
        &:hover {
          background: transparent url('/assets/article-icons.png') no-repeat scroll -50px -244px;
        }
      }
      .upload {
        display: block;
        width: 100%;
        height: 3px;
        margin-top: 5px;
        .progress {
            height: 3px;
          .bar {
            height: 3px;
            background-color: $orange;
          }
        }
      }
      #picture_image {
        position: absolute;
        height: 92px;
        width: 92px;
        font-size: 92px;
        line-height: 92px;
        top: 0px;
        left: 0px;
        cursor: pointer;
        opacity: 0;
      }
      img {
        border: 1px solid #e2e3e4;
        height: 90px;
        cursor: pointer;
        @include addTransition(0.3);
      }
      &:hover {
        img {
          border: 1px solid darken(#e2e3e4, 20%);
        }
      }
    }
  }
}

.alert {
  width: 100%;
  padding: 10px 0px;
  text-align: center;
  top: 60px;
  left: 0px;
  position: absolute;
  overflow: hidden;
  color: #fff;
  &.alert-error {
    border-bottom: 1px solid #ff0000;
    background: rgba(130, 0, 0, 0.9);
    .close {
      background-color: #FFFFFF;
      border: 1px solid #AA0000;
    }
  }
  &.alert-success {
    border-bottom: 1px solid #00ff00;
    background: rgba(0,130,0,0.9);
    .close {
      background-color: #FFFFFF;
      border: 1px solid #00AA00;
    }
  }
  .close {
    font-size: 24px;
    height: 25px;
    line-height: 25px;
    position: absolute;
    right: -1px;
    text-align: center;
    top: -1px;
    width: 25px;
    color: $darkgrey;
    cursor: pointer;
  }
}

#error_explanation {
  position: fixed;
  z-index: 9999;
  top: 60px;
  left: 0px;
  width: 100%;
  border-bottom: 1px solid #f00;
  background: rgba(130,0,0,0.9);
  padding-bottom: 10px;
  color: #fff;
  overflow: hidden;
  h2 {
    color: #fff;
    text-align: center;
  }
  ul {
    width: 935px;
    padding-left: 25px;
    margin: 0 auto;
  }
  .close {
    background-color: #FFFFFF;
    border-bottom: 1px solid #ff0000;
    border-left: 1px solid #ff0000;
    font-size: 24px;
    height: 25px;
    line-height: 25px;
    position: absolute;
    right: 0px;
    text-align: center;
    top: 0px;
    width: 25px;
    color: $darkgrey;
    cursor: pointer;
  }
}

#formatting_guide {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 100;
  top: 0px;
  left: 0px;
  background: rgba(255,255,255,0.5);
  display: none;
  p, pre {
    padding-bottom: 10px;
  }
  .formatting_guide_inner {
    background: #ffffff;
    box-shadow: 0px 0px 20px $lightgrey;
    border-radius: 3px;
    position: fixed;
    width: 50%;
    height: 50%;
    overflow-y: scroll;
    margin: auto;
    padding: 20px;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    .btn-close-formatting {
      background: #434343;
      color: #d6d6d6;
      margin-top: 30px;
      text-transform: uppercase;
      &:hover {
        background: lighten(#434343, 15%);
      }
    }
    .btn-close-formatting-small {
      background: #434343;
      position: absolute;
      right: 0px;
      top: 0px;
    }
  }
}

.pagination {
  display:block;
  overflow:visible;
  margin:0px auto;
  width:100%;
  text-transform:uppercase;
  font-size:1.500em;
  padding: 30px 0 0 0;
  text-align:center;
  position:relative;
  a {
    color:$lightgrey;
  }
  a:hover {
    color:$darkgrey;
  }
  .newer, .older {
    position:absolute;
    display:inline-block;
  }
  .newer {left:0px;}
  .older {right:0px;}
  .prev a, .first a {
    float:left;
    background:url('/assets/ic_arrow_left.png') top left no-repeat;
    padding: 8px 0px 10px 50px;
  }
  .next a, .last a {
    float:right;
    background:url('/assets/ic_arrow_right.png') top right no-repeat;
    padding: 8px 50px 10px 0px;
  }

  .pages {
    font-size:0.7em;
    color:lighten($lightgrey,30%);
    a {
      color:lighten($lightgrey,30%);
      &:hover {
        color:$lightgrey;
      }
    }
    .current {
      color:$lightgrey;
      font-size:1.50em;
    }
  }
}

.top_link {
  background: transparent url('/assets/footer_icon.png') no-repeat scroll 0 0;
  margin: 80px auto;
  width: 57px;
  height: 57px;
  cursor: pointer;
  &:hover {
    background: transparent url('/assets//footer_icon.png') no-repeat scroll -100px 0;
  }
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

.login {
  width: 615px;
  margin: 0 auto;
  h1 {
    text-align: center;
  }
  label, input {
    display: inline-block;
  }
  label {
    float: left;
    color: #434343;
    line-height: 45px;
    margin-bottom: 30px;
  }
  input[type=text], input[type=password] {
    background: #ffffff;
    border: 1px solid #e2e3e4;
    height: 43px;
    width: 478px;
    color: #5e5e5e;
    padding: 0px 10px;
    line-height: 43px;
    font-family: 'Ubuntu Mono';
    font-size: 20px;
    float: right;
  }
  .email, .password, .forgot, .submit {
    height: 45px;
  }
  .email {
    margin-bottom: 30px;
  }
  .password {
    margin-bottom: 45px;
  }
  .submit {
    width: 500px;
    float: right;
    input[type=submit] {
      background: $orange;
      padding: 15px 25px;
      display: inline-block;
      margin-right: 30px;
      color: #e3e3e3;
      font-size: 18px;
      text-transform: uppercase;
      cursor: pointer;
      &:hover {
        background: lighten($orange, 15%);
      }
    }
    a {
      color: #aaaaaa;
      border-bottom: 1px solid #aaaaaa;
      font-size: 16px;
    }
  }
}