/************************************************************************************
smaller than 975px
*************************************************************************************/
@media screen and (max-width: 975px) {
  #pagewrap {width:100%;padding:0px;}

  #content img {width:100%;}
  div.hero_image {text-align:center;}
  div.article {  max-width:100%;   float:none;display:block;   }
  div.rss {display: none;}
  #footer {padding:30px 20px;}
  #topbar {padding:0 1%;max-width:98%;}
  div.article_content {padding:0px 15px;}
  div.article_content h1 {line-height:1.5em;}
  div.article_header h1 {width:100%;}
  div.article_header h1 a {width:100%;display:block;}
  #footer-content img {max-width:100%;}
  #footer .two-cols {max-width:100%;display:block;float:none;}
}




/************************************************************************************
smaller than 800px
*************************************************************************************/
@media screen and (max-width: 800px) {
  div.article_header h1.title  {font-size:1.6em;margin:30px 0 10px 0;}
  div.sub_title {font-size:1.1em; }
  /*div.article_content {font-size:1.6em;line-height:1.4em;}  */
  #topbar {text-align:center;}
  #topbar .right {float:none;}
  div.article_content {padding:0px 10px;}
  .two-cols {float:none;width:100%;}
  h4.mobile-margin {margin:40px 0 0 0;}
  #logo, #lines {text-align:center;width:100%;}
  #lines {margin:20px 0 0 0;}
  h5.margin-top a {margin-top:40px;display:block;}


  #footer {
    .two-cols {padding:0px;width:100%;line-height:24px;float:none;display:block;}
    .row.about {
      text-align: center;
      .two-cols {      padding:0px; width:100%;   line-height:24px;    }
    }
    .about-title {margin:20px 0 5px 0px;}
    hr {margin:20px 0px;}
    div.project-img {  float:none;width:100%; text-align: center;display:block;margin:20px 0 0 0;  }
    div.project-text { float:none;width:100%;  }
    .footer-headline {margin:0px;}
  }


}

/************************************************************************************
smaller than 480px
*************************************************************************************/
@media screen and (max-width: 480px) {
   #footer {
     .footer-headline {font-size:22px;}
   }
}
