<footer id="footer">
  <div class="container">
  <p>The LINES blog engine was build by <a href="https://www.opoloo.com">Opoloo</a> and improved by its community at <a href="https://github.com/opoloo/lines-engine">Github</a>.</p>
  
  <p>We thankfully use the following technologies and gladly give back to the open culture of the web <a href="http://rubyonrails.org/">Ruby on Rails</a>, <a href="http://pygments.org/">Pygments</a>, <a href="http://jquery.com/">jQuery</a>, <a href="http://codemirror.com/">CodeMirror</a>, <a href="https://github.com/ai/autoprefixer-rails">Autoprefixer Rails</a>, <a href="https://github.com/vmg/redcarpet">Red Carpet</a>.</p>

  <p>Download the LINES gem at <a href="">https://rubygems.org/gems/lines-engine</a></p>
  </div>
</footer>
