<footer id="footer">
  <div class="container">
    <p>The LINES blog engine is created by <a href="https://www.opoloo.com">Opoloo</a> and improved by the open source community on <a href="https://github.com/opoloo/lines-engine">Github</a>.</p>

    <p>We’re thankful to be using the following technologies: <a href="http://rubyonrails.org/">Ruby on Rails</a>, <a href="http://pygments.org/">Pygments</a>, <a href="http://jquery.com/">jQuery</a>, <a href="http://codemirror.com/">CodeMirror</a>, <a href="https://github.com/vmg/redcarpet">Red Carpet</a>. Gladly, we like to give back to the open culture of the web with LINES.</p>

    <p>Download the LINES gem at <a href="https://rubygems.org/gems/lines-engine">https://rubygems.org/gems/lines-engine</a></p>
  </div>
</footer>
