<footer id="footer">
  <div class="container">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum illo pariatur quidem perferendis eveniet consectetur aliquam, nemo aliquid, quod temporibus at! Quisquam error alias et at omnis. Voluptas, voluptatem eligendi!</p>      
  </div>
</footer>
